<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="jhu.graywulf">
      <sectionGroup name="keystone">
        <section name="client" type="Jhu.Graywulf.Keystone.KeystoneClientConfiguration, Jhu.Graywulf.Keystone"/>
      </sectionGroup>
      <section name="casJobs" type="Jhu.Graywulf.CasJobs.CasJobsClientConfiguration, Jhu.Graywulf.Plugins"/>
      <section name="sciDrive" type="Jhu.Graywulf.SciDrive.SciDriveConfiguration, Jhu.Graywulf.Plugins"/>
      <sectionGroup name="authentication">
        <section name="openID" type="Jhu.Graywulf.Web.Security.OpenIDConfiguration, Jhu.Graywulf.Plugins" />
        <section name="keystone" type="Jhu.Graywulf.Web.Security.KeystoneAuthenticationConfiguration, Jhu.Graywulf.Plugins"/>
      </sectionGroup>
      <sectionGroup name="logging">
        <section name="sciServer" type="Jhu.Graywulf.Logging.SciServerLogWriterConfiguration, Jhu.Graywulf.Plugins"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
</configuration>